   <!DOCTYPE html>
  <html>
    <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <header>Shrutiben - N01579444</header>
      <main>
      {{{body}}}
      </main>
      <footer>shrutiitaliya2701@gmail.com</footer>
    </body>
  </html>
  